/* Empty. Add your own CSS if you like */

.fitContent {
    height:auto;
    overflow:visible;   
}

.my-item .item-content {
  padding: 0 !important;
}

.scroll-view{
  position: absolute;
  top: 55.3125px;
  bottom: 0;
  left: 0;
  right: 0;
}