<ion-view title="Add People"  ng-controller="addPeopleCtrl">
    <ion-content padding="true" class="has-header">
 
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-change="findContactsBySearchTerm(data.search)" ng-model="data.search">
          </label>
        </div>
          
        <div class="list">
            <ion-list ng-repeat="contact in contacts" class="item-thumbnail-left">
                <a class="item item-avatar" href="#">
                  <img ng-src="{{contact.photos[0].value}}">
                  <h2>{{contact.displayName}}</h2>
                  <p>{{contact.phoneNumbers[0].value}}</p>
                </a>
            </ion-list>
        </div>
    </ion-content>
</ion-view>