<ion-view title="Invite your friends"  ng-controller="addPeopleCtrl">
    
    <ion-content padding="false" scroll="false" class="has-header">

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-change="findContactsBySearchTerm()" ng-model="data.searchterm">
            </label>
            <button class="button button-small" ng-click="clearSearch()">
              Cancel
            </button>
          </div>

        <ion-scroll class="fitContent" style="max-height: 200px;">
            <div class="list">
                <a ng-repeat="contact in data.contacts track by $index" class="item item-avatar" href="#" ng-click="invite(contact)">
                  <img ng-src="{{contact.photos[0].value}}">
                  <h2>{{contact.displayName}}</h2>
                  <p>{{contact.phoneNumbers[0].value}}</p>
                </a>
            </div>
        </ion-scroll>
        
        <div class="item item-divider">
        Invited
        </div>
        
        <ion-scroll style="min-height: 100%;" >
            <ion-list>
                <ion-item ng-repeat="contactSelected in data.contactsSelected track by $index" class="item item-avatar">
                  <img ng-src="{{contactSelected.photos[0].value}}">
                  <h2>{{contactSelected.displayName}}</h2>
                  <p>{{contactSelected.phoneNumbers[0].value}}</p>
                </ion-item>
            </ion-list>
        </ion-scroll>
        
    </ion-content>
</ion-view>