<ion-view title="Bring something">
    <ion-content padding="false" class="has-header">
        <div>
            <p>Here is a list of things you could
                <strong>bring to the event</strong>. This is was made by the event's
                <strong>host</strong>
            </p>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
        <form class="list"></form>
    </ion-content>
</ion-view>