<ion-view title="People invited">
    <ion-content padding="true" class="has-header">
        <div>
            <p>Here is a list of people
                <strong>invited</strong>to this event</p>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>