<ion-view title="Things to Bring">
    <ion-content padding="false" class="has-header">
        <div>
            <p>Make a list of things
                <strong>your guests could bring !</strong>
            </p>
        </div>
        <form class="list">
<div class="list">
            <a class="item item-icon-righ" href="#">
            <input type="text" placeholder="Beer" class="col-80">
            <i class="icon ion-plus-circled "></i>
          </a>
            </div>
        </form>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 166px;"></div>
        <a href="#/eventcreatortab/createeventdetails" class="button button-calm button-block ">Done !</a>
    </ion-content>
</ion-view>